.dialog .dialog-content {
    width: 1300px;
    height: 800px;
    border: 3px solid #ccc;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    background-color: #fff;
    z-index: 999;
}

.padding10 {
    padding: 10px 0 0 10px;
}

.padding24 {
    padding: 10px 0 0 24px;
}

input {
    margin-top: 8px;
    border: 1px solid black;
    border-radius: 4px;
}

.dialog .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: .5;
    z-index: 1;
}

.dialog .dialog-content .header-dialog {
    height: 80px;
    position: relative;
}

.dialog .dialog-content .header-dialog .name-left {
    width: 300px;
    height: 80px;
    display: flex;
    float: left;
    align-items: center;
}

.dialog .dialog-content .header-dialog .name-left .text {
    white-space: nowrap;
    font-size: 30px;
    font-weight: 550;
    margin-left: 24px;
    font-size: 35px;
}

.dialog .dialog-content .header-dialog .name-left .checkbox {
    margin-left: 24px;
    display: flex;
    align-items: center;
}

.dialog .dialog-content .header-dialog .name-left .checkbox>input {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.dialog .dialog-content .header-dialog .name-left .checkbox>lable {
    white-space: nowrap;
    font-size: 20px;
}

.dialog .dialog-content .header-dialog .btn-right {
    display: flex;
    position: absolute;
    height: 50px;
    right: 0;
}

.dialog .dialog-content .header-dialog .btn-right>button {
    margin: 10px 10px 0 0;
    width: 40px;
    height: 40px;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #777;
    border: none;
    cursor: pointer;
    background-color: white;
}

.dialog .dialog-content .header-dialog .btn-right>button:hover {
    background-color: #ccc;
}


/*

*/

.dialog .dialog-content .center-dialog {
    /* background-color: blue; */
    height: 620px;
}

.center-dialog .one-center {
    width: 50%;
    height: 270px;
    float: left;
}

.a-one {
    display: flex;
    height: 90px;
    width: 100%;
}

.center-dialog .one-center .a-one .leftA-one {
    width: 40%;
}

.center-dialog .one-center .a-one .leftA-one .item-dialog {
    padding: 10px 0 0 24px;
}


/* .center-dialog .one-center .a-one .leftA-one .item-dialog>label {
    font-size: 20px;
} */

.center-dialog .one-center .a-one .leftA-one .item-dialog>input {
    height: 30px;
    width: 200px;
    margin-top: 8px;
    border-radius: 4px;
}

.center-dialog .one-center .a-one .rightA-one {
    width: 60%;
}

.center-dialog .one-center .a-one .rightA-one .item-name-dialog {
    padding: 10px 0 0 0px;
}

label {
    font-size: 20px;
}

.center-dialog .one-center .a-one .rightA-one .item-name-dialog>input {
    height: 30px;
    width: 357px;
    margin-top: 8px;
    border-radius: 4px;
    border: 1px solid black;
}

.b-one {
    height: 90px;
    width: 100%;
}

.centerB-one {
    padding: 10px 0 0 24px;
}

.centerB-one .combobox-input {
    width: 600px;
    height: 35px;
    margin-top: 8px;
    border: 1px solid black;
    border-radius: 4px;
}


/* .centerB-one .combobox-input>option {
    width: 600px;
    height: 30px;
} */

.c-one {
    height: 90px;
    width: 100%;
}


/* .itemC-dialog {
    padding: 10px 0 0 24px;
} */

.itemC-dialog>input {
    height: 30px;
    width: 600px;
    margin-top: 8px;
    border-radius: 4px;
}

.center-dialog .two-center {
    position: relative;
    width: 50%;
    height: 270px;
    display: flex;
    /* float: left; */
}

.center-dialog .two-center .a-two {
    position: absolute;
    height: 90px;
    width: 100%;
    float: left;
    display: flex;
}

.center-dialog .two-center .a-two .leftA-two {
    /* display: flex; */
    width: 40%;
    height: 90px;
}


/* .center-dialog .two-center .a-two .leftA-two .itemDate {
    padding: 10px 0 0 10px;
} */

.itemDate>input {
    width: 230px;
    height: 30px;
    margin-top: 8px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
}

.center-dialog .two-center .a-two .rightA-two {
    width: 60%;
    height: 90px;
}


/* .center-dialog .two-center .a-two .rightA-two .itemGender {
    padding: 10px 0 0 0px;
} */

.center-dialog .two-center .a-two .rightA-two .itemGender .input-gender {
    display: flex;
}

.center-dialog .two-center .a-two .rightA-two .itemGender .input-gender .input-radio {
    margin: 8px 20px 0 0;
    font-size: 20px;
}

.center-dialog .two-center .a-two .rightA-two .itemGender .input-gender .input-radio>input {
    height: 23px;
    width: 23px;
    margin-right: 10px;
}

.center-dialog .two-center .b-two {
    display: flex;
    position: absolute;
    height: 90px;
    width: 100%;
    margin-top: 90px;
}

.center-dialog .two-center .b-two .leftB-two {
    width: 57%;
    height: 90px;
}

.center-dialog .two-center .b-two .leftB-two .itemIndentity>input {
    height: 30px;
    margin-top: 8px;
    width: 350px;
    border-radius: 4px;
    border: 1px solid black;
}

.center-dialog .two-center .b-two .rightB-two {
    width: 43%;
    height: 90px;
}

.center-dialog .two-center .c-two {
    height: 90px;
    width: 100%;
    position: absolute;
    margin-top: 180px;
}

.itemAddress>input {
    margin-top: 8px;
    height: 30px;
    width: 1235px;
    border-radius: 4px;
    border: 1px solid black;
}

.center-dialog .three-center {
    width: 100%;
    height: 100px;
}

.center-dialog .four-center {
    display: flex;
    width: 70%;
    height: 200px;
}

.center-dialog .four-center .item-four {
    width: 33.333%;
    height: 200px;
}

.center-dialog .four-center .item-four .four-top {
    height: 50%;
}

.center-dialog .four-center .item-four .four-bottom {
    height: 50%;
}

.itemOne>input {
    width: 200px;
    height: 30px;
    /* margin-top: 8px;
    border-radius: 4px; */
}

.dialog-content .bottom-dialog {
    height: 100px;
}

.one-bottom {
    width: 1252px;
    height: 99px;
    margin: 0 24px;
    border-top: 1px solid #777;
    display: flex;
}

.one-bottom .left-bottom-dialog {
    width: 50%;
    height: 99px;
    display: flex;
    align-items: center;
}

.btn-small {
    /* display: flex; */
    justify-content: center;
    width: 70px;
    height: 50px;
    cursor: pointer;
    border: 1px solid #777;
    border-radius: 4px;
    font-size: 15px;
    font-weight: bold;
    white-space: nowrap;
}

.btn-big {
    width: 120px;
    height: 50px;
    justify-content: center;
    background-color: green;
    cursor: pointer;
    border: 1px solid #777;
    border-radius: 4px;
    font-size: 15px;
    font-weight: bold;
    white-space: nowrap;
}

.one-bottom .right-bottom-dialog {
    display: flex;
    position: relative;
    width: 50%;
    height: 99px;
    align-items: center;
}

.one-bottom .right-bottom-dialog .item-save {
    display: flex;
    right: 0;
    position: absolute;
}

.one-bottom .right-bottom-dialog .item-save>button {
    /* width: 100px;
    height: 50px; */
    margin-left: 24px;
    /* font-size: 15px;
    white-space: nowrap;
    font-weight: bold; */
}